html {
    position: relative;
}

img {
    width:300px;
    max-height: 400px;
}

#allDogProfiles {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    height: 3000px;
    width: 80vw;
    margin: auto;
}

.welcome {
    text-align:center;
}

body {
    font-family: Roboto;
}

main {
    text-align: center;

}

.dogCard {
    border: 1px solid black;
    margin: 15px;
    padding: 5px;
    text-align: center;
    width: 300px;
}
