img {
    width:300px;
    max-height: 400px;
}

#allDogProfiles {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    height: 3000px; /*typically you don't set a page height   */
    width: 80vw;
    margin: auto;
}

.welcome {
    text-align:center;
    background-color:black;
    color:white;
    border-bottom: 1px solid white
}

body {
    font-family: Roboto;
}

main {
    text-align: center;
    /* background-color: black; */
    background: linear-gradient(180deg, black, white);
    color: white;

}

.dogCard {
    border: 1px solid blue;
    margin: 15px;
    padding: 5px;
    text-align: center;
    width: 300px;
    background:white;
    color: black;
}

#editProfileContainer {
    position:relative;
    display: inline-block;

    top: 0;
    color:black;
    background:green;

}

/* hr.horizontalLine {
    background:transparent;
    border-top: 30px blue;
} */
