
img {
    width:300px;
    max-height: 400px;
}

#allDogProfiles {
    display: flex;
    flex-wrap: wrap;
}

.welcome {
    text-align:center;
}

body {
    font-family: Roboto;
}

main {
    /* justify-content: center; */
    /* display: flex; */
}

.dogCard {
    border: 1px solid black;
    margin: 15px;
    padding: 5px;
    text-align: center;
}
